@{
    var isAuthenticated = Context.User.Identity.IsAuthenticated;
}

<ul class="navbar-nav">
    @if (isAuthenticated)
    {
        <li class="nav-item">
            <form method="post" asp-area="" asp-controller="Auth" asp-action="Logout">
                <button type="submit" class="nav-link btn btn-link text-dark">Выйти</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Login">Войти</a>
        </li>
    }
</ul>