@using Tests.Models
@model TestResultModel

<h2>Результаты билета</h2>

<p>ФИО: @Model.FullName</p>
<p>Количество правильных ответов: @Model.CorrectAnswers</p>
<p>Количество неправильных ответов: @Model.IncorrectAnswers</p>

<h3>Детали ответов</h3>

